@font-face {
  font-family: 'Bangers';
  src: local('Bangers'), url('./assets/fonts/Bangers-Regular.ttf') format('truetype');
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
