.loginContainerHidden {
  visibility: hidden;
  opacity: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10vh;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  .usernameInput {
    margin-bottom: 0.5rem;
    user-select: none;
  }
  .passwordInput {
    margin-top: 0.5rem;
    user-select: none;
  }
  .loginConfirmButton {
    justify-content: center;
    align-content: center;
    width: 4rem;
    height: 2rem;
    justify-self: flex-end;
    margin: 0.5rem 0 0 auto;
    font-weight: bolder;
  }
}
.loginContainerVisible {
  visibility: visible;
  opacity: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10vh;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  .usernameInput {
    margin-bottom: 0.5rem;
    user-select: none;
    border-radius: 5px;
    outline: none;
  }
  .passwordInput {
    margin-top: 0.5rem;
    user-select: none;
    border-radius: 5px;
    outline: none;
  }
  .loginConfirmButton {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 4rem;
    height: 2rem;
    justify-self: flex-end;
    margin: 0.5rem 0 0 auto;
    font-weight: bolder;
    border-radius: 50px;
    box-shadow: 2px 2px 2px black;
    user-select: none;
    outline: none;
  }
}
