.splashContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #36393e;
  h1 {
    font-family: Bangers;
    font-size: 10rem;
    color: #b1adad;
    margin: 0;
    text-shadow: 1px 1px 2px gold;
    user-select: none;
  }
  .linksContainer {
    display: flex;
    flex-direction: row;
    .loginLinkActive {
      text-decoration: none;
      margin: 1rem 0.5rem 0 0.5rem;
      color: #9e8029;
      font-size: 1rem;
      transition-duration: 0.1s;
      transition-timing-function: ease-in-out;
      border-radius: 1000px;
      user-select: none;
      :hover {
        cursor: pointer;
      }
    }
    .loginLinkInactive {
      text-decoration: none;
      margin: 1rem 0.5rem 0 0.5rem;
      color: #9e8029;
      font-size: 1rem;
      transition-duration: 0.1s;
      transition-timing-function: ease-in-out;
      text-shadow: none;
      text-shadow: .2px .2px white;
      border-radius: 1000px;
      user-select: none;
      :hover {
        cursor: pointer;
      }
    }
    .aboutLink {
      text-decoration: none;
      margin: 1rem 0.5rem 0 0.5rem;
      color: #9e8029;
      font-size: 1rem;
      text-shadow: .2px .2px white;
      user-select: none;
    }
  }
}
